# Ignore database files
*.duckdb
# Ignore huge raw files
sql/raw/instacartData/orders.csv
sql/raw/instacartData/order_products__prior.csv
sql/raw/instacartData/order_products__train.csv
sql/raw/instacartData/orders.csv
sql/raw/instacartData/order_products__prior.csv
