# Ignore database files
*.duckdb
# Ignore huge raw files
sql/instacart/orders.csv
sql/instacart/order_products__prior.csv
sql/instacart/order_products__train.csv

# ignore embedded repo
data-analytics-portfolio/
